<!--ion-header>
	<ion-toolbar>
	    <ion-title></ion-title>
	</ion-toolbar>
</ion-header-->

<ion-content>
  <!-- <ion-icon name="chevron-back-outline" class="backicon"></ion-icon> -->
  <div readysec>
    <div ready-content>
      <h3>You are ready to go!</h3>
      <p>
        Thanks for taking your time to create account with us. Now this is the
        fun part. let's explore the app.
      </p>
      <ion-button
        getstarted-btn
        (click)="goto('/getstarted')"
        color="primary"
        shape="round"
        expand="full"
      >
        Get Started!
      </ion-button>
    </div>
  </div>
</ion-content>
