ion-header {
  &:after {
    display: none;
  }
  ion-toolbar {
    --border-width: 0px;
    ion-back-button {
      --icon-font-size: 25px;
      position: relative;
      left: 15px;
      color: var(--ion-color-white);
    }
    ion-title {
      font-size: 16px;
      font-weight: 600;
      color: var(--ion-color-white);
    }
  }
}
ion-content {
  --background: var(--ion-color-black);
  [Exercisedetail] {
    padding: 20px;
    ion-card {
      display: block;
      position: relative;
      z-index: 1;
      border-radius: 18px;
      background: transparent;
      img {
        height: 200px;
        width: 100%;
        display: block;
        object-fit: cover;
        border-radius: 18px;
      }
      [videocontent] {
        // position: absolute;
        // top: 15px;
        // left: 15px;
        // right: 15px;
        // z-index: 1;

        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        z-index: 1;
        h3 {
          font-size: 13px;
          font-weight: 600;
          // margin: 0px 0px 5px;
          color: var(--ion-color-white);
          margin: 10px 5px 5px;
        }
        p {
          font-size: 10px;
          font-weight: 400;
          // margin: 0px;
          margin: 0px 0px 5px 0px;
          color: var(--ion-color-white);
        }
      }
      [videoplayersec] {
        position: absolute;
        bottom: 8px;
        left: 15px;
        right: 15px;
        z-index: 1;
        ion-range {
          padding: 0px;
          --bar-background: var(--ion-color-white);
          --height: 28px;
          ion-label {
            color: var(--ion-color-white);
            font-size: 12px;
            ion-icon {
              font-size: 14px;
              transform: rotate(45deg);
            }
          }
        }
      }
      [playbtn] {
        text-decoration: none;
        width: 44px;
        height: 44px;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: auto;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: var(--ion-color-white);
        opacity: 0.7;
        z-index: 1;
        ion-icon {
          color: var(--ion-color-black);
          padding-left: 3px;
          font-size: 24px;
        }
      }
      &:after {
        content: "";
        /*position: absolute;*/
        background: var(--ion-color-black);
        opacity: 0.6;
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
    [coursecontent] {
      p {
        font-size: 12px;
        font-weight: 300;
        color: var(--ion-color-white);
        line-height: 20px;
        margin: 20px 0px;
      }
    }
    [workoutcount] {
      [heading] {
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        color: var(--ion-color-white);
        position: relative;
        z-index: 1;
        margin: 0px 0 20px;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          display: flex;
          align-items: flex-start;
          color: var(--ion-color-white);
          font-size: 12px;
          margin: 0 0 15px;
          p {
            margin: 0px 10px 0px 0px;
            font-size: 13px;
            font-weight: 600;
            color: var(--ion-color-white);
            max-width: 100px;
            min-width: 100px;
          }
        }
      }
    }
    [workingdetails] {
      [heading] {
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        color: var(--ion-color-white);
        position: relative;
        z-index: 1;
        margin: 25px 0 20px;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          display: flex;
          align-items: center;
          color: var(--ion-color-white);
          font-size: 12px;
          margin: 0 0 15px;
          ion-icon {
            font-size: 15px;
          }
          p {
            margin: 0 0 0 10px;
          }
        }
      }
    }
  }
  [detailbtn] {
    text-align: center;
    position: fixed;
    right: 12px;
    bottom: 12px;
    ion-button {
      --border-radius: 10px;
      --padding-end: 5px;
      --padding-start: 5px;
      --padding-top: 5px;
      --padding-bottom: 5px;
      --background: var(--ion-color-primary);
      --color: var(--ion-color-white);
      --box-shadow: none;
      width: 60px !important;
      height: 60px !important;
      --border-radius: 50% !important;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        max-height: 16px;
      }
    }
  }
}
