<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- <ion-tab-button tab="messages"> -->
      <ion-tab-button tab="exercises">
      <!-- <ion-icon name="chatbubbles-outline"></ion-icon> -->
      <ion-icon name="barbell-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="nutrition">
      <ion-icon name="receipt-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button homeactive tab="workoutselection">
      <!-- <ion-tab-button homeactive tab="my-workouts"> -->
      
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    <!-- <ion-tab-button
      (click)="gotocalender()"
      [ngClass]="(price == '9.99' || price == '89.99') && active == true ? 'active' : ''" 
    > -->

    <ion-tab-button
    tab="calender"
    >
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="person-circle-outline" style="font-size: 26px"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
