<ion-header>
  <ion-toolbar  color="primary">
     <ion-back-button slot="start" defaultHref="/tabs/settings" text=""  icon="chevron-back-outline"></ion-back-button>
     <ion-title class="ion-text-center">Progress Images</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="progressbox">
    <div pr15>
      <ion-title>
        <span>10 Feb</span>
      </ion-title>
    </div>
    <ion-slides pager="false" [options]="slideOpts">
      <ion-slide>
        <img src="assets/img/img2.jpg" alt="" />
      </ion-slide>
   
      <ion-slide>
        <img src="assets/img/img2.jpg" alt="" />
      </ion-slide>

      <ion-slide>
        <img src="assets/img/img2.jpg" alt="" />
      </ion-slide>

      <ion-slide>
        <img src="assets/img/img2.jpg" alt="" />
      </ion-slide>

      <ion-slide>
        <img src="assets/img/img2.jpg" alt="" />
      </ion-slide>
    </ion-slides>
  </div>  
</ion-content>
