ion-content
{
    /*--padding-bottom: 0;*/
	--background:url(../../assets/img/bg1.jpg)  center/cover no-repeat;
	[login]
	{
		text-align:center;
		padding: 15px 20px;
		min-height: 100%;
		/*background:url(../../assets/img/bg1.jpg)  center/cover no-repeat;
		background-attachment: fixed;
		position: relative;
		z-index: 1;
		&:after
		{
		    position: absolute;
			content: "";
			top: 0px;
			bottom: 0px;
			left: 0px;
			right: 0px;
			background: var(--ion-color-black);
			opacity: 0.7;
			z-index: -1;
		}*/
		[logo]
		{   
			margin-bottom: 50px;
			margin-top: 30px;
			img
			{
			    height:75px;
			}
			h1
			{
			    color:var(--ion-color-white);
			    font-size:19px;
			    font-weight:600;
			    margin-bottom:0px;
			}
			p
			{
			    color: var(--ion-color-white);
				font-size: 14px;
				font-weight: 500;
				margin: 10px auto;
				line-height: 1.75;
				max-width: 300px;
			}
		}			 
		[btn-login]
		{
		    text-transform:capitalize;
		    --box-shadow: none;
		    min-height: 57px;
		    --background: rgba(252, 107, 47,0.80);
		    --ion-color-base: rgba(252, 107, 47,0.80)!important;
			--border-radius: 15px;
			color: var(--ion-color-white);
			font-size: 14px;
			font-weight: 600;
			width: calc(100% - 55px);
			margin: 0 auto;
		}
		[formgroup]
		{
		    margin: 50px 0px 70px;
		    ion-item
		    {
			    --background: transparent;
				--inner-padding-end: 0px;
				padding-bottom: 5px;
				border-bottom:1px solid var(--ion-color-grey1);
				ion-label
				{     
				    color:var(--ion-color-white);
					font-size: 14px;	
					font-weight:600;
					transform: initial;
				}
				ion-input
				{      
				    padding-right: 30px!important;
					color:#fbfbfb;
					font-size: 13px;   
					font-weight: 400;
				}
				ion-icon[slot="end"]
				{
					 color: var(--ion-color-white);
					margin: 0;
					position: absolute;
					right: 0;
					bottom: 9px;
				}
		    }			
		}	  
	    [signuptext]
	    {
		    font-size: 14px;	
            font-weight:400;
	        color:var(--ion-color-white);
	        margin: 30px 0px 0px;
	        a
	        {
				color:var(--ion-color-white);
				text-decoration:none;
				font-weight:600;
			}
	    }
	}
}