<ion-content>
  <div login>
    <div logo>
      <img src="assets/img/logo.png" />
      <h1>Forgot Password</h1>
      <p>
        Please fill the registered email address below to reset your password
      </p>
    </div>
    <form [formGroup]="authForm">
      <div formgroup>
        <ion-item lines="none" class="ion-no-padding">
          <ion-label position="stacked">Email</ion-label>
          <ion-input
            type="email"
            placeholder="Enter  Email Address"
            formControlName="email"
          >
          </ion-input>
          <ion-icon slot="end" name="checkmark-outline"></ion-icon>
        </ion-item>
        <span error *ngIf="isControlHasError('email','required')"
          >Please enter email</span
        >
        <span error *ngIf="isControlHasError('email','pattern')"
          >Please enter valid email</span
        >
      </div>
      <ion-button
        btn-login
        type="button"
        (click)="submit()"
        color="primary"
        shape="round"
        expand="full"
      >
        Reset Password
      </ion-button>
    </form>
    <p signuptext>
      Back To <a href="javascript:void(0)" routerLink="/"> Login</a>
    </p>
  </div>
</ion-content>
