ion-header
{
	&:after
	{
	    display:none;
	}
    ion-toolbar
    {
		--border-width:0px;
		ion-back-button 
		{
			--icon-font-size: 25px;
			position: relative;
			left: 15px;
			color: var(--ion-color-white);
		}
		ion-title
		{
			font-size: 16px;
			font-weight: 600;
			color: var(--ion-color-white);
		}
		ion-buttons 
		{
			margin: 0px 10px 0px 0px;
			color: var(--ion-color-white);
			font-size: 22px;
		}		
    }
}
ion-content
{
	--background:var(--ion-color-black);
    [exercises-sec]
	{
	    padding: 20px 15px;
	    ion-card
		{
			align-items: flex-end;
			position: relative;
			z-index: 1;
			box-shadow: none;
			border-radius: 18px;
			margin: 0px 0px 20px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
            outline: 0px;			
			&.bg1
			{
			    --background: url('../../assets/img/exerciseimg1.jpg');
            }		
			&.bg2
			{
			    --background: url('../../assets/img/exerciseimg2.jpg');
            }		
			&.bg3
			{
			    --background: url('../../assets/img/exerciseimg3.jpg');
            }		
			&.bg4
			{
			    --background: url('../../assets/img/exerciseimg4.jpg');
            }
            [favourite-icon]
            {
				width: 44px;
				height: 44px;
				margin: 0px;
				--border-radius: 50%;
				display: inline-flex;
				position: absolute;
				right: 10px;
				top: 10px;
				z-index: 1;
				--padding-top: 0;
				--padding-bottom: 0;
				--padding-start: 0px;
				--padding-end: 0px;				
				align-items: center;
				justify-content: center;
                --background: rgba(255 , 255 , 255 , 0.3);				
			    ion-icon
				{
				    font-size: 23px;
					color: var(--ion-color-primary);
				}
			}			
			ion-card-content
			{
				padding-top: 15px;
				padding-bottom: 15px;
				padding-inline-end: 15px;
				padding-inline-start: 15px;			
				h3
				{
					margin: 0px;
					padding: 0px 50px 0px 0px;
					font-size: 15px;
					font-weight:600;
					color: var(--ion-color-white);
					cursor: pointer;
					outline: 0px;
				}
				[playbtn]
				{
				    display: block;
					width: 100%;
					text-align: center;
					margin: 40px 0px 5px;
				    a
					{
					    text-decoration: none;
						width: 44px;
						height: 44px;
						border-radius: 50%;
						display: inline-flex;
						align-items: center;
						justify-content: center;
						background: var(--ion-color-white);
						opacity:0.3;
						ion-icon
						{
						    color: var(--ion-color-black);
							padding-left: 3px;
							font-size: 24px;
						}
					}
				}
				[content-sec]
				{
					display: block;
					ul
					{
						list-style-type: none;
						padding:0px;
						margin: 0px;
						li
						{
							display: flex;
							align-items: center;
							font-size: 13px;
							font-weight: 500;
							color: var(--ion-color-white);
							padding: 6px 0px 0px;
							img 
							{
								max-width: 14px;
								min-width: 14px;
								margin-right: 7px;
							}							
						}
					}
				}
			}
			&:after
			{
				position: absolute;
				content: "";
				top:0px;
				bottom: 0px;
				left: 0px;
				right: 0px;
				background: var(--ion-color-black);
				opacity: 0.5;
				z-index: -1;
			}			
		}
	}	
}	